services:
  collector:
    build:
      context: .
      args:
        GITHUB_ACTOR:
        GITHUB_TOKEN:
    image: gnome-orchestrator:latest
    privileged: true
    container_name: gnome-orchestrator-collector
    environment:
      LISTING: 8
      OUTPUT_BUCKET: gnome-market-data-dev
      REGISTRY_URL: i3116oczxe.execute-api.us-east-1.amazonaws.com
      REGISTRY_API_KEY: 9WPV7CfeqXa578yVYlxdG3kCPFzACr7YaMU0UVma
      MAIN_CLASS: group.gnometrading.collectors.DelegatingCollectorOrchestrator
      STAGE: dev

      AWS_PROFILE: AWSAdministratorAccess-443370708724
    volumes:
      - ~/.aws/:/root/.aws:ro
      - ./market-data:/app/market-data
    shm_size: '4gb'

  testing:
    build:
      context: .
      args:
        GITHUB_ACTOR:
        GITHUB_TOKEN:
    image: gnome-orchestrator:latest
    privileged: true
    container_name: gnome-orchestrator-testing
    ports:
      - "8765:8765"
    network_mode: host
    environment:
      LISTING: 1
      MAIN_CLASS: group.gnometrading.testing.MarketDataWriterOrchestrator
      STAGE: dev
      HOST: host.docker.internal
      PORT: 8765
      OUTPUT: /app/market-data/output.bin
    volumes:
      - ~/.aws/:/root/.aws:ro
      - ./market-data:/app/market-data
    shm_size: '4gb'